#img1 {
    position: absolute;
    width: 26.5%;
    height: 420px;
    top: 20px;
    right: 70%;
    background-color: antiquewhite;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

button {
    position: absolute;
    height: 90px;
    width: 100px;
    margin-top: 0;
    padding-top: 0;
    right: 0%;
    font-size: 40px;
    color: white;
    background-color: orangered;
    border-style: none;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

button:hover {
    background-color: white;
    color: orangered;
    border: orangered;
}

#img2 {
    position: absolute;
    width: 26.5%;
    left: 37%;
    height: 420px;
    top: 20px;
    background-color: antiquewhite;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

#img3 {
    position: absolute;
    width: 26.5%;
    left: 70%;
    right: 0;
    height: 420px;
    top: 20px;
    background-color: antiquewhite;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.footer {
    position: absolute;
    width: 100%;
    background-color: lightskyblue;
    bottom: 0;
}